*{
  margin: 0;
  padding: 0;
}
#header{
  position: relative;
  overflow: hidden;

}
#header video{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100vw;
  height: 60vh;
  object-fit: cover;
 
 
}


#header #header-input{
  width: 30rem ;
  height: 3rem;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;

  border: 2px solid black;

 

}
#header-input-box{
  position: absolute;
  top: 40vh;
  display: flex;
  flex-direction: row;
  left: 30rem;




}
#header-input-box-above{
  position: absolute;
  top: 32vh;
  left: 32rem;
  width: 30rem ;
  color: white;

}

#header .header-div{
  display: flex;
  gap: 2rem;
  align-items: center;
}
#header .header-div li{
  display: flex;
  align-items: center;
  color: white;
  font-size: large;
}
#header #header-abovemost{
  position: absolute;
  top: 1rem;
  left: 3rem;
  display: flex;
  gap: 68vw;
  list-style-type: none;
}
#header #header-div-img img{
  border-radius: 3px;
  height: 2rem;
  background-color: white;
  padding: 0.1rem 0.7rem;

}
#header #header-div-img button{
  border: none;
  background: none;
  cursor: pointer;
  
}
#header #about-button{
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: medium;
}
#header-abovemost #logo-img{
  height: 4rem;
  border-radius: 5px;
}


/* Nav Bar */
#navBar{
  margin: 1rem 1rem 0rem 1rem;
  background-color: #FBF9F899;
  border-radius: 5px;
 
}
#navBar ul button{
  border: none;
  border-radius: 5px;
  margin: 1rem;
}
#navBar ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  
}
#navBar ul li {
  background-color:  #F8F6F4;
 
 
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: large;
  font-weight: 500; 
  transition: transform 0.3s ease, color 0.3s ease;
}
#navBar ul li:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: lightskyblue;
  /* border: 2px solid lightskyblue; */
  
}



/*below navBar*/





/* left right div */

#Left-div{
margin: 2.3rem 1rem 2.3rem 2.3rem;
width: 754px;
height: 635px;
/* top: 231px; */
/* left: 30px; */
gap: 0px;
border-radius: 10px;
background: #F8F6F4;
position: relative;



}
#Left-div #SewingMachineImg img{
  position: absolute;
  background-color: transparent;
  mix-blend-mode: multiply;
  width: 552px;
  height: 552px;
  top: 10%;
  left: 10%;


}

#description-left-div #description-left-div-upperdiv{
margin: 0rem 2.3rem;
width: 711px;

top: 231px;
left: 30px;
gap: 0px;
border-radius: 10px;
opacity: 0.5;


}
#description-left-div {
  display: flex;

}
.description-left-div-customcomponent{
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#Left-div #TableSmallImg ul{
  list-style-type: none;

}
#Left-div #TableSmallImg ul li{
 
  position: relative;
  left: 1rem;
  top: 1rem;
  cursor: pointer;


}

#Right-div{
  margin: 2.3rem 2.3rem 2.3rem 1rem;
  width: 754px;
height: 635px;
top: 237px;
left: 816px;
border-radius: 10px;

}

#left-right-flex{
  display: flex;
}

#Right-div #below-rightdiv {
  display: flex;
  justify-content: space-between;
}

#Right-div #heart-button{
  border: none;
  background: none;
  cursor: pointer;
}

#Right-div #below-cheese h2{
  margin: 1rem 0rem;
}

#Right-div span h2 span{
  font-size: small;
  font-weight: normal;
  opacity: 0.5;
  
}
 #below-39{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0rem;
} 
#below-39 #below-39-div{
  display: flex;
}
#below-39 .scale{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  
}
#below-39 #below-39-ref{
  opacity: 0.5;
  font-size: small;
}

#below-20cm p{
  padding-top: 1.5rem;
  opacity: 0.8;
  font-size: medium;
}

#below-20cm-hr{
  position:  relative;
  top: 17rem; 

}

#below-20-cm-hr-div{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 18rem;overflow-x: x;
}
#below-20-cm-hr-div #below-20-cm-hr-div-button{
  display: flex;
  flex-direction: row;
  /* justify-content:space-around; */
  gap: 4rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.7rem;
}
#below-20-cm-hr-div-button button{
  border: none;
  background: none;
  cursor: pointer;
  font-size: x-large;
}
#below-20-cm-hr-div-button p{

  font-size: x-large;
}
#below-20-cm-hr-div-p{
  background-color: #5CD2DD;
  border-radius: 5px;
  color: white;
  font-size: x-large;
  padding: 0.7rem 10rem;
  cursor: pointer;
}


/*Below cheese box*/
#below-cheese-addbox{
  background: #F8F6F4;
  border-radius: 5px;
  width: 680px;
  height: 62px;
  display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 0rem 1rem;
 align-items: center;
 font-size: large;
  margin: 0rem 2.3rem;
}



/*slider object table width*/
#sliderobjectid{
  width: 100%;
  display: flex;
}
.slider-object-table-width{
  width: 473px;
  margin: 1rem;
}



#below-slider-image img{
  width: 100%;
}


#two-div{
  display: flex;
  margin: 1rem;
  /* overflow: hidden; */
}
#two-div img{
  width: 50%;
  margin: 1rem;
}


#lastpartimage img{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 10rem;
}